[Unit]
Description=Kubernetes Scheduler Plugin
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

After=etcd.service docker.service
Requires=etcd.service docker.service
Wants=network-online.target

[Service]
EnvironmentFile=-/etc/kubernetes/config
EnvironmentFile=-/etc/kubernetes/scheduler
EnvironmentFile=-/etc/kubernetes/deploy.env

ExecStartPre=-/usr/bin/docker kill kube-scheduler
ExecStartPre=-/usr/bin/docker rm kube-scheduler
ExecStartPre=/bin/docker run  -d \
            --net='host' \
            --name=kube-scheduler \
            -v /etc/ssl/certs:/etc/ssl/certs \
            -v /etc/kubernetes/ssl:/etc/kubernetes/ssl \
            $KUBERNETES_IMAGE /hyperkube scheduler \
            	    $KUBE_LOGTOSTDERR \
            	    $KUBE_LOG_LEVEL \
            	    $KUBE_MASTER \
            	    $KUBE_SCHEDULER_ARGS
ExecStart=/usr/bin/docker logs -f kube-scheduler
ExecStop=/usr/bin/docker stop kube-scheduler

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
